@{
    ViewBag.Title = "Contacto";
}

<script src="http://maps.googleapis.com/maps/api/js"></script>
@Scripts.Render("~/Scripts/mapsGoogle.js")

<h2>Mapa de Gotham City</h2>

<p>Puede encontrar la ciudad más quilombera del mundo aquí:</p>

<div id="googleMap" style="width: 700px; height: 650px; border: 1px solid #cfcece; float: left; color: black;"></div>
<div style="margin-left: 700px;">
<pre style="background-color: rgba(0, 0, 0, 0.00); border: rgba(0, 0, 0, 0.00); color: white;">
             .  .
             |\_|\
             | a_a\
             | | "]
         ____| '-\___
        /.----.___.-'\
       //        _    \
      //   .-. (~v~) /|
     |'|  /\:  .--  / \
    // |-/  \_/____/\/~|
   |/  \ |  []_|_|_] \ |
   | \  | \ |___   _\ ]_}
   | |  '-' /   '.'  |
   | |     |   / |:  /\
   | |     /  /  |  /  \
   | |    |  /  /  |    \
   \ |    |/\/  |/|/\    \
    \|\ |\|  |  | / /\/\__\
     \ \| | /   | |__
          / |   |____)
         |_/
</pre>
<pre style="background-color: rgba(0, 0, 0, 0.00); border: rgba(0, 0, 0, 0.00); color: white;">
              _,     _   _    ,_  
           o888P     Y8o8Y     Y888o.
         d88888      88888      88888b
       ,8888888b_  _d88888b_  _d8888888,
       888888888888888888888888888888888
       888888888888888888888888888888888
        Y8888P"Y888P"Y888P-Y888P"Y88888'
         Y888   '8'   Y8P   '8'   888Y
          '8o          V          o8'
</pre>
</div>