@model IEnumerable<ProjectoLibre.Models.Heroe>

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-hover table-responsive">
        <thead class="bg-success">
            <tr>
                <th>Nombre</th>
                <th>Habilidad</th>
                <th>Opciones</th>
            </tr>
        </thead>

        @foreach (var h in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => h.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => h.habilidad)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", "Heroe", new { id = h.id }, null) |
                    @Html.ActionLink("Eliminar", "Eliminar", "Heroe", new { id = h.id }, null)
                </td>
            </tr>
        }

    </table>
}
else
{
    <p>Todavia no hay héroes en la lista.</p>
}