.backimage {
     background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=2b3d50ff&noise=626262&density=55&opacity=41);
     /*background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;*/
}

.vert {
    height:50px;
}

.bg-table {
  background-color: #ffffff;
}

.bg-table > tbody > tr:hover {
  background-color: #f1eeee;
}

.trebuchet {
    font-family: 'Trebuchet MS';
    text-transform: uppercase;
    font-weight: bold;
}

.input-sm {
    width: 200px !important;    
}

#scrollButtonUp {
    position: fixed;
    padding-left: 95%;
    z-index: 9999;
    display: none;
}

#scrollButtonDown {
    position: fixed;
    padding-bottom: 1%;
    margin-left: 95%;
    padding-top: 5%;
    bottom: 10px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.navbar {
-webkit-box-shadow: 0px 9px 11px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 9px 11px -6px rgba(0,0,0,0.75);
box-shadow: 0px 9px 11px -6px rgba(0,0,0,0.75);

    /* the rest of your styling */
}