@{
    ViewBag.Title = "InternalServer";
}

<div class="jumbotron alert-danger">
    <h1>Se produjo un error del servidor (500)</h1>
    <p>Esto puede deberse a que el servidor ha encontrado un error que no pudo manejar.</p>
    <p><a class="btn btn-success btn-lg" href="https://www.google.com.ar/search?q=error+500">Más información</a></p>
</div>
