@{
    ViewBag.Title = "Crear";
}

@Scripts.Render("~/Scripts/general.js")
@Scripts.Render("~/Scripts/checksubmit.js")
@Scripts.Render("~/bundles/jqueryval")
@Styles.Render("~/Content/validation-style.css")

<h2 class="text-uppercase">Crear nuevo personaje</h2>
<h3><b>¿Heroe o villano?</b></h3>

<div class="col-sm-3">
    <select id="TipoPersonaje" class="form-control">
        <option value="0" selected="selected">Elija una opción...</option>
        <option value="1">Heroe</option>
        <option value="2">Villano</option>
    </select>
</div>

<div id="DivHeroe" style="display: none;">
</div>

<div id="DivVillano" style="display: none;">
</div>
