@{
    ViewBag.Title = "Trailer";
}

<h2 class="text-center text-uppercase text-danger">Trailer Batman Arkham City</h2>

<iframe class="center-block" width="800" height="500" src="http://www.youtube.com/embed/xK0wSRthFsg">
</iframe>
